---
- name: Get EC2 metadata and patch node
  hosts: workers_app:workers_db
  become: false
  tasks:
    - name: Get instance ID and AZ
      shell: |
        TOKEN=$(curl -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600")
        INSTANCE_ID=$(curl -H "X-aws-ec2-metadata-token: $TOKEN" http://169.254.169.254/latest/meta-data/instance-id)
        AZ=$(curl -H "X-aws-ec2-metadata-token: $TOKEN" http://169.254.169.254/latest/meta-data/placement/availability-zone)
        echo "aws:///$AZ/$INSTANCE_ID"
      register: providerid

    - name: Get node name
      shell: hostname -s | tr -d '\n'
      register: nodename

    - name: Patch node with providerID
      delegate_to: "{{ groups['control_plane'][0] }}"
      command: kubectl patch node {{ nodename.stdout }} -p '{"spec":{"providerID":"{{ providerid.stdout }}"}}'

- name: Patch services to NodePort
  hosts: control_plane[0]
  become: false
  vars:
    services_to_patch:
      - { name: "gameland", namespace: "gameland" }
      - { name: "kube-prometheus-stack-grafana", namespace: "monitoring" }
      - { name: "kube-prometheus-stack-prometheus", namespace: "monitoring" }

  tasks:
    - name: Patch services to NodePort
      ansible.builtin.command:
        cmd: >
          kubectl patch service {{ item.name }}
          -n {{ item.namespace }}
          --type merge
          -p '{"spec":{"type":"NodePort"}}'
      loop: "{{ services_to_patch }}"
      register: patch_result
      changed_when: "'patched' in patch_result.stdout"
      failed_when: patch_result.rc != 0 and "'not patched' not in patch_result.stdout"

- name: Expose all Gameland applications
  hosts: control_plane[0]
  become: false
  vars:
    service_account_manifest_file: service-account.yaml
    service_account_manifest_file_destination: "/home/{{ ansible_user }}/{{ service_account_manifest_file }}"
    ingress_gameland_manifest_file: ingress-gameland.yaml
    ingress_gameland_manifest_file_destination: "/home/{{ ansible_user }}/{{ ingress_gameland_manifest_file }}"
    ingress_prometheus_manifest_file: ingress-prometheus.yaml
    ingress_prometheus_manifest_file_destination: "/home/{{ ansible_user }}/{{ ingress_prometheus_manifest_file }}"
    ingress_grafana_manifest_file: ingress-grafana.yaml
    ingress_grafana_manifest_file_destination: "/home/{{ ansible_user }}/{{ ingress_grafana_manifest_file }}"

  tasks:
    - name: Get Gameland VPC ID from Terraform output
      ansible.builtin.command:
        cmd: terraform output -json vpc_id
        chdir: "{{ playbook_dir }}/../../../terraform/environments/k8s/"
      register: terraform_vpc
      changed_when: false
      delegate_to: localhost

    - name: Set VPC_ID fact
      ansible.builtin.set_fact:
        vpc_id: "{{ terraform_vpc.stdout | from_json }}"

    - name: Copy service_account.yaml manifest to control plane
      copy:
        src: "{{ playbook_dir }}/../../files/manifests/ingress/aws-load-balancer/{{ service_account_manifest_file }}"
        dest: "{{ service_account_manifest_file_destination }}"

    - name: Apply service account manifest
      command: kubectl apply -f {{ service_account_manifest_file_destination }}
      register: apply_output
      changed_when: "'created' in apply_output.stdout or 'configured' in apply_output.stdout"

    - name: Install/Upgrade AWS Load Balancer Controller via Helm
      shell: |
        helm repo add eks https://aws.github.io/eks-charts
        helm repo update
        helm upgrade -i aws-load-balancer-controller eks/aws-load-balancer-controller \
        --namespace kube-system \
        --set clusterName=kubernetes \
        --set serviceAccount.create=false \
        --set serviceAccount.name=aws-load-balancer-controller \
        --set region=eu-central-1 \
        --set vpcId={{ vpc_id }} \
        --set nodeSelector.role=worker-app
      
    - name: Wait for AWS load balancer controller deployment rollout
      command: kubectl rollout status deployment aws-load-balancer-controller -n kube-system --timeout=180s
      register: rollout_status
      changed_when: false

    - name: Install/Upgrade ExternalDNS via Helm
      shell: |
        helm repo add external-dns https://kubernetes-sigs.github.io/external-dns/
        helm repo update
        helm upgrade --install external-dns external-dns/external-dns \
        --namespace kube-system \
        --set provider=aws \
        --set policy=sync \
        --set registry=txt \
        --set txtOwnerId=gameland \
        --set aws.zoneType=public \
        --set domainFilters={gameland-demo.com} \
        --set nodeSelector.role=worker-app \
        --set env[0].name=AWS_REGION \
        --set env[0].value=eu-central-1

    - name: Wait for ExternalDNS deployment rollout
      command: kubectl rollout status deployment external-dns -n kube-system --timeout=180s
      register: rollout_status
      changed_when: false
    
    - name: Copy ingress-gameland.yaml manifest to control plane
      copy:
        src: "{{ playbook_dir }}/../../files/manifests/ingress/aws-load-balancer/{{ ingress_gameland_manifest_file }}"
        dest: "{{ ingress_gameland_manifest_file_destination }}"

    - name: Apply Gameland ingress manifest
      command: kubectl apply -f {{ ingress_gameland_manifest_file_destination }}
      register: apply_output
      changed_when: "'created' in apply_output.stdout or 'configured' in apply_output.stdout"

    - name: Copy ingress-prometheus.yaml manifest to control plane
      copy:
        src: "{{ playbook_dir }}/../../files/manifests/ingress/aws-load-balancer/{{ ingress_prometheus_manifest_file }}"
        dest: "{{ ingress_prometheus_manifest_file_destination }}"

    - name: Apply Prometheus ingress manifest
      command: kubectl apply -f {{ ingress_prometheus_manifest_file_destination }}
      register: apply_output
      changed_when: "'created' in apply_output.stdout or 'configured' in apply_output.stdout"

    - name: Copy ingress-grafana.yaml manifest to control plane
      copy:
        src: "{{ playbook_dir }}/../../files/manifests/ingress/aws-load-balancer/{{ ingress_grafana_manifest_file }}"
        dest: "{{ ingress_grafana_manifest_file_destination }}"

    - name: Apply Grafana ingress manifest
      command: kubectl apply -f {{ ingress_grafana_manifest_file_destination }}
      register: apply_output
      changed_when: "'created' in apply_output.stdout or 'configured' in apply_output.stdout"

    - name: Get GameLand NodePort
      command: kubectl get svc -n gameland gameland -o jsonpath='{.spec.ports[0].nodePort}'
      register: gameland_nodeport
      changed_when: false

    - name: Annotate GameLand Ingress with healthcheck port
      command: kubectl annotate ingress -n gameland gameland-ingress alb.ingress.kubernetes.io/healthcheck-port="{{ gameland_nodeport.stdout }}" --overwrite

    - name: Get Prometheus NodePort
      command: kubectl get svc -n monitoring kube-prometheus-stack-prometheus -o jsonpath='{.spec.ports[0].nodePort}'
      register: prometheus_nodeport
      changed_when: false

    - name: Annotate Prometheus Ingress with healthcheck port
      command: kubectl annotate ingress -n monitoring prometheus-ingress alb.ingress.kubernetes.io/healthcheck-port="{{ prometheus_nodeport.stdout }}" --overwrite

    - name: Get Grafana NodePort
      command: kubectl get svc -n monitoring kube-prometheus-stack-grafana -o jsonpath='{.spec.ports[0].nodePort}'
      register: grafana_nodeport
      changed_when: false

    - name: Annotate Grafana Ingress with healthcheck port
      command: kubectl annotate ingress -n monitoring grafana-ingress alb.ingress.kubernetes.io/healthcheck-port="{{ grafana_nodeport.stdout }}" --overwrite
  
- name: Wait for AWS Load Balancer and DNS records
  hosts: control_plane[0]
  gather_facts: false
  become: false
  vars:
    apps:
      - name: GameLand
        record: "{{ gameland_record }}"
      - name: Prometheus
        record: "{{ prometheus_record }}"
      - name: Grafana
        record: "{{ grafana_record }}"
    wait_interval: 15
    wait_retries: 40

  tasks:
    - name: Get Load Balancer ARN
      shell: |
        aws elbv2 describe-load-balancers \
          --region {{ aws_region }} \
          --names $(aws elbv2 describe-load-balancers --region {{ aws_region }} \
                     --query "LoadBalancers[?starts_with(LoadBalancerName,'k8s-gameland')].LoadBalancerName" \
                     --output text) \
          --query "LoadBalancers[0].LoadBalancerArn" \
          --output text
      register: lb_arn
      retries: "{{ wait_retries }}"
      delay: "{{ wait_interval }}"
      until: lb_arn.stdout != ""
      changed_when: false

    - name: Wait until Load Balancer is active
      shell: |
        aws elbv2 describe-load-balancers \
          --region {{ aws_region }} \
          --load-balancer-arns {{ lb_arn.stdout }} \
          --query "LoadBalancers[0].State.Code" \
          --output text
      register: lb_status
      retries: "{{ wait_retries }}"
      delay: "{{ wait_interval }}"
      until: lb_status.stdout == "active"
      changed_when: false

    - name: Get hosted zone ID
      shell: |
        aws route53 list-hosted-zones-by-name \
          --dns-name gameland-demo.com \
          --query "HostedZones[0].Id" \
          --output text
      register: hosted_zone_id
      changed_when: false

    - name: Normalize hosted zone ID
      set_fact:
        hosted_zone_id: "{{ hosted_zone_id.stdout | trim | regex_replace('^/hostedzone/', '') }}"

    - name: Wait for DNS records
      shell: >
        aws route53 list-resource-record-sets
        --hosted-zone-id {{ hosted_zone_id }}
        --query "ResourceRecordSets[?Name=='{{ item.record }}.']"
        --output text
      register: dns_records
      retries: "{{ wait_retries }}"
      delay: "{{ wait_interval }}"
      until: dns_records.stdout | trim | length > 0
      changed_when: false
      loop: "{{ apps }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Display app domain names
      debug:
        msg: "{{ item.name }} URL: {{ item.record }}"
      loop: "{{ apps }}"

    - name: Get Grafana admin username
      shell: |
        kubectl get secret --namespace monitoring kube-prometheus-stack-grafana \
        -o jsonpath="{.data.admin-user}" | base64 --decode
      register: grafana_user
      changed_when: false

    - name: Get Grafana admin password
      shell: |
        kubectl get secret --namespace monitoring kube-prometheus-stack-grafana \
        -o jsonpath="{.data.admin-password}" | base64 --decode
      register: grafana_pass
      changed_when: false

    - name: Display Grafana login info
      debug:
        msg: |
          Grafana Username: {{ grafana_user.stdout }}
          Grafana Password: {{ grafana_pass.stdout }}
