---
- name: Get EC2 metadata and patch node
  hosts: workers:database
  become: true
  tasks:
    - name: Get instance ID and AZ
      shell: |
        TOKEN=$(curl -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600")
        INSTANCE_ID=$(curl -H "X-aws-ec2-metadata-token: $TOKEN" http://169.254.169.254/latest/meta-data/instance-id)
        AZ=$(curl -H "X-aws-ec2-metadata-token: $TOKEN" http://169.254.169.254/latest/meta-data/placement/availability-zone)
        echo "aws:///$AZ/$INSTANCE_ID"
      register: providerid

    - name: Get node name
      shell: hostname -s | tr -d '\n'
      register: nodename

    - name: Patch node with providerID
      delegate_to: "{{ groups['control_plane'][0] }}"
      shell: |
        kubectl --kubeconfig {{ kubeconfig_path }} patch node {{ nodename.stdout }} -p '{"spec":{"providerID":"{{ providerid.stdout }}"}}'

- name: Patch services to NodePort
  hosts: control_plane[0]
  become: true
  vars:
    services_to_patch:
      - { name: "gameland", namespace: "gameland" }
      - { name: "kube-prometheus-stack-grafana", namespace: "monitoring" }
      - { name: "kube-prometheus-stack-prometheus", namespace: "monitoring" }

  tasks:
    - name: Patch services to NodePort
      ansible.builtin.command:
        cmd: >
          kubectl --kubeconfig {{ kubeconfig_path }}
          patch service {{ item.name }}
          -n {{ item.namespace }}
          --type merge
          -p '{"spec":{"type":"NodePort"}}'
      loop: "{{ services_to_patch }}"
      register: patch_result
      changed_when: "'patched' in patch_result.stdout"
      failed_when: patch_result.rc != 0 and "'not patched' not in patch_result.stdout"

- name: Expose all Gameland applications
  hosts: control_plane[0]
  become: true
  vars:
    service_account_manifest_file: service-account.yaml
    service_account_manifest_file_destination: "/home/{{ ansible_user }}/{{ service_account_manifest_file }}"
    ingress_gameland_manifest_file: ingress-gameland.yaml
    ingress_gameland_manifest_file_destination: "/home/{{ ansible_user }}/{{ ingress_gameland_manifest_file }}"
    ingress_prometheus_manifest_file: ingress-prometheus.yaml
    ingress_prometheus_manifest_file_destination: "/home/{{ ansible_user }}/{{ ingress_prometheus_manifest_file }}"
    ingress_grafana_manifest_file: ingress-grafana.yaml
    ingress_grafana_manifest_file_destination: "/home/{{ ansible_user }}/{{ ingress_grafana_manifest_file }}"

  tasks:
    - name: Get Gameland VPC ID from Terraform output
      ansible.builtin.command:
        cmd: terraform output -json vpc_id
        chdir: "{{ playbook_dir }}/../../../terraform/environments/k8s/"
      register: terraform_vpc
      changed_when: false
      delegate_to: localhost
      become: false 

    - name: Set VPC_ID fact
      ansible.builtin.set_fact:
        vpc_id: "{{ terraform_vpc.stdout | from_json }}"

    - name: Copy service_account.yaml manifest to control plane
      copy:
        src: "{{ playbook_dir }}/../../files/manifests/ingress/aws-load-balancer/{{ service_account_manifest_file }}"
        dest: "{{ service_account_manifest_file_destination }}"

    - name: Apply service account manifest
      shell: |
        kubectl --kubeconfig {{ kubeconfig_path }} apply -f {{ service_account_manifest_file_destination }}
      register: apply_output
      changed_when: "'created' in apply_output.stdout or 'configured' in apply_output.stdout"

    - name: Add EKS Helm repo
      shell: helm repo add eks https://aws.github.io/eks-charts
      become: false

    - name: Update Helm repos
      shell: helm repo update
      become: false

    - name: Install/Upgrade AWS Load Balancer Controller via Helm
      shell: >
        helm upgrade -i aws-load-balancer-controller eks/aws-load-balancer-controller
        --namespace kube-system
        --set clusterName=kubernetes
        --set serviceAccount.create=false
        --set serviceAccount.name=aws-load-balancer-controller
        --set region=eu-central-1
        --set vpcId={{ vpc_id }}
        --set nodeSelector.role=worker
      become: false

    - name: Wait for AWS load balancer controller deployment rollout
      shell: |
        kubectl --kubeconfig {{ kubeconfig_path }} rollout status deployment aws-load-balancer-controller -n kube-system --timeout=180s
      register: rollout_status
      changed_when: false

    - name: Add ExternalDNS Helm repo
      shell: helm repo add --force-update external-dns https://kubernetes-sigs.github.io/external-dns/
      become: false

    - name: Update Helm repos
      shell: helm repo update
      become: false

    - name: Install/Upgrade ExternalDNS via Helm
      shell: >
        helm upgrade --install external-dns external-dns/external-dns \
        --namespace kube-system \
        --set provider=aws \
        --set policy=sync \
        --set registry=txt \
        --set txtOwnerId=gameland \
        --set aws.zoneType=public \
        --set domainFilters={gameland-demo.com}
        --set nodeSelector.role=worker
        --set env[0].name=AWS_REGION \
        --set env[0].value=eu-central-1
      become: false

    - name: Wait for ExternalDNS deployment rollout
      shell: |
        kubectl --kubeconfig {{ kubeconfig_path }} rollout status deployment external-dns -n kube-system --timeout=180s
      register: rollout_status
      changed_when: false
    
    - name: Copy ingress-gameland.yaml manifest to control plane
      copy:
        src: "{{ playbook_dir }}/../../files/manifests/ingress/aws-load-balancer/{{ ingress_gameland_manifest_file }}"
        dest: "{{ ingress_gameland_manifest_file_destination }}"

    - name: Apply Gameland ingress manifest
      shell: |
        kubectl --kubeconfig {{ kubeconfig_path }} apply -f {{ ingress_gameland_manifest_file_destination }}
      register: apply_output
      changed_when: "'created' in apply_output.stdout or 'configured' in apply_output.stdout"

    - name: Copy ingress-prometheus.yaml manifest to control plane
      copy:
        src: "{{ playbook_dir }}/../../files/manifests/ingress/aws-load-balancer/{{ ingress_prometheus_manifest_file }}"
        dest: "{{ ingress_prometheus_manifest_file_destination }}"

    - name: Apply Prometheus ingress manifest
      shell: |
        kubectl --kubeconfig {{ kubeconfig_path }} apply -f {{ ingress_prometheus_manifest_file_destination }}
      register: apply_output
      changed_when: "'created' in apply_output.stdout or 'configured' in apply_output.stdout"

    - name: Copy ingress-grafana.yaml manifest to control plane
      copy:
        src: "{{ playbook_dir }}/../../files/manifests/ingress/aws-load-balancer/{{ ingress_grafana_manifest_file }}"
        dest: "{{ ingress_grafana_manifest_file_destination }}"

    - name: Apply Grafana ingress manifest
      shell: |
        kubectl --kubeconfig {{ kubeconfig_path }} apply -f {{ ingress_grafana_manifest_file_destination }}
      register: apply_output
      changed_when: "'created' in apply_output.stdout or 'configured' in apply_output.stdout"

    - name: Get GameLand NodePort
      command: >
        kubectl --kubeconfig {{ kubeconfig_path }} get svc -n gameland gameland
        -o jsonpath='{.spec.ports[0].nodePort}'
      register: gameland_nodeport
      changed_when: false

    - name: Annotate GameLand Ingress with healthcheck port
      command: >
        kubectl --kubeconfig {{ kubeconfig_path }} annotate ingress -n gameland gameland-ingress
        alb.ingress.kubernetes.io/healthcheck-port="{{ gameland_nodeport.stdout }}" --overwrite

    - name: Get Prometheus NodePort
      command: >
        kubectl --kubeconfig {{ kubeconfig_path }} get svc -n monitoring kube-prometheus-stack-prometheus
        -o jsonpath='{.spec.ports[0].nodePort}'
      register: prometheus_nodeport
      changed_when: false

    - name: Annotate Prometheus Ingress with healthcheck port
      command: >
        kubectl --kubeconfig {{ kubeconfig_path }} annotate ingress -n monitoring prometheus-ingress
        alb.ingress.kubernetes.io/healthcheck-port="{{ prometheus_nodeport.stdout }}" --overwrite

    - name: Get Grafana NodePort
      command: >
        kubectl --kubeconfig {{ kubeconfig_path }} get svc -n monitoring kube-prometheus-stack-grafana
        -o jsonpath='{.spec.ports[0].nodePort}'
      register: grafana_nodeport
      changed_when: false

    - name: Annotate Grafana Ingress with healthcheck port
      command: >
        kubectl --kubeconfig {{ kubeconfig_path }} annotate ingress -n monitoring grafana-ingress
        alb.ingress.kubernetes.io/healthcheck-port="{{ grafana_nodeport.stdout }}" --overwrite

