---
- name: Set up K8s Control Plane
  hosts: control_plane
  become: true
  vars:
    admin_config: /etc/kubernetes/admin.conf
    temp_helm_file: /tmp/helm.tar.gz

  tasks:
    - name: Initialize Kubernetes cluster
      command: "kubeadm init --pod-network-cidr={{ pod_network_cidr }} --cri-socket=/run/containerd/containerd.sock"
      args:
        creates: "{{ admin_config }}"

    - name: Create .kube directory
      file:
        path: "{{ kubeconfig_dir }}"
        state: directory
        mode: 0755
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"

    - name: Copy admin.conf to user kube config
      copy:
        src: "{{ admin_config }}"
        dest: "{{ kubeconfig_path }}"
        remote_src: yes
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: 0644

    - name: Set etcd listen-metrics-urls
      replace:
        path: /etc/kubernetes/manifests/etcd.yaml
        regexp: '(- --listen-metrics-urls=)http://127\.0\.0\.1:2381'
        replace: '\1http://0.0.0.0:2381'

    - name: Set kube-scheduler bind-address
      replace:
        path: /etc/kubernetes/manifests/kube-scheduler.yaml
        regexp: '- --bind-address=.*'
        replace: '- --bind-address=0.0.0.0'

    - name: Set kube-scheduler bind-address secure-port
      replace:
        path: /etc/kubernetes/manifests/kube-scheduler.yaml
        regexp: '- --secure-port=.*'
        replace: '- --secure-port=10259'

    - name: Set kube-controller-manager bind-address
      replace:
        path: /etc/kubernetes/manifests/kube-controller-manager.yaml
        regexp: '- --bind-address=.*'
        replace: '- --bind-address=0.0.0.0'

    - name: Set kube-controller-manager bind-address secure-port
      replace:
        path: /etc/kubernetes/manifests/kube-controller-manager.yaml
        regexp: '- --secure-port=.*'
        replace: '--secure-port=10257'
   
    - name: Wait for etcd port 2379 to open
      wait_for:
        host: 127.0.0.1
        port: 2379
        state: started
        timeout: 600

    - name: Dump current kube-proxy ConfigMap
      shell: "kubectl --kubeconfig {{ kubeconfig_path }} -n kube-system get configmap kube-proxy -o yaml > /tmp/kube-proxy.yaml"

    - name: Update metricsBindAddress to 0.0.0.0:10249
      replace:
        path: /tmp/kube-proxy.yaml
        regexp: 'metricsBindAddress:.*'
        replace: 'metricsBindAddress: "0.0.0.0:10249"'

    - name: Apply updated ConfigMap
      shell: "kubectl --kubeconfig {{ kubeconfig_path }} apply -f /tmp/kube-proxy.yaml"

    - name: Restart kube-proxy pods
      command: "kubectl --kubeconfig {{ kubeconfig_path }} -n kube-system delete pod -l k8s-app=kube-proxy"
    
    - name: Ensure kubectl alias in bashrc
      lineinfile:
        path: "/home/{{ ansible_user }}/.bashrc"
        line: "alias k=kubectl"
        state: present

    - name: Download Helm binary
      get_url:
        url: "https://get.helm.sh/helm-v{{ helm_version }}-linux-amd64.tar.gz"
        dest: "{{ temp_helm_file }}"
    
    - name: Extract Helm
      unarchive:
        src: "{{ temp_helm_file }}"
        dest: /usr/local/bin/
        remote_src: yes
        extra_opts: ["--strip-components=1"]
        creates: /usr/local/bin/helm

    - name: Install Flannel CNI
      command: kubectl --kubeconfig {{ kubeconfig_path }} apply -f https://github.com/flannel-io/flannel/releases/download/v{{ flannel_version }}/kube-flannel.yml
      when: cni == "flannel"

    - name: Install Calico CNI using Helm
      shell: |
        helm repo add projectcalico https://docs.projectcalico.org/charts
        helm repo update
        helm upgrade --install calico projectcalico/tigera-operator \
          --kubeconfig {{ kubeconfig_path }} \
          --namespace tigera-operator --create-namespace \
          --set installation.calicoNetwork.ipPools[0].cidr="{{ pod_network_cidr }}" \
          --set installation.calicoNetwork.ipPools[0].natOutgoing="Enabled" \
          --set installation.calicoNetwork.nodeAddressAutodetectionV4.interface="ens5"
      when: cni == "calico"
