---
- name: Label nodes according to their role
  hosts: workers_app:workers_db
  become: false
  
  tasks:
    - name: Set label role=worker-app for app workers
      command: kubectl label node {{ ansible_hostname }} role=worker-app --overwrite
      delegate_to: "{{ groups['control_plane'][0] }}"
      when: "'workers_app' in group_names"
      
    - name: Set label role=worker-db for database workers
      command: kubectl label node {{ ansible_hostname }} role=worker-db --overwrite
      delegate_to: "{{ groups['control_plane'][0] }}"
      when: "'workers_db' in group_names"
