---
- name: Set up Gameland components
  hosts: control_plane[0]
  become: false
  vars:
    gameland_manifest_file: gameland.yaml
    gameland_manifest_file_destination: "/home/{{ ansible_user }}/{{ gameland_manifest_file }}"

  tasks:
    - name: Copy gameland.yaml manifest to control plane
      copy:
        src: "{{ playbook_dir }}/../../files/manifests/gameland/{{ gameland_manifest_file }}"
        dest: "{{ gameland_manifest_file_destination }}"

    - name: Apply Gameland manifest
      command: kubectl apply -f {{ gameland_manifest_file_destination }}
      register: apply_output
      changed_when: "'created' in apply_output.stdout or 'configured' in apply_output.stdout"

    - name: Wait for Gameland deployment rollout
      command: kubectl rollout status deployment gameland -n gameland --timeout=180s
      register: rollout_status
      changed_when: false
