---
- name: Set up Postgres components
  hosts: control_plane[0]
  become: false
  vars:
    manifest_file: postgres.yaml
    manifest_file_destination: "/home/{{ ansible_user }}/{{ manifest_file }}"

  tasks:
    - name: Copy postgres.yaml manifest to control plane
      copy:
        src: "{{ playbook_dir }}/../../files/manifests/postgres/{{ manifest_file }}"
        dest: "{{ manifest_file_destination }}"

    - name: Apply Postgres manifest
      shell: |
        kubectl apply -f {{ manifest_file_destination }}
      register: apply_output
      changed_when: "'created' in apply_output.stdout or 'configured' in apply_output.stdout"

    - name: Wait for Postgres statefulset rollout
      shell: |
        kubectl rollout status statefulset postgres -n postgres --timeout=180s
      register: rollout_status
      changed_when: false

- name: Populate Postgres database
  hosts: control_plane[0]
  become: false
  vars:
    sql_file: fill-gameland-postgres.sql
    sql_file_destination: "/home/{{ ansible_user }}/{{ sql_file }}"

  tasks:
    - name: Copy SQL file to control plane
      copy:
        src: "{{ playbook_dir }}/../../files/sql/{{ sql_file }}"
        dest: "{{ sql_file_destination }}"

    - name: Get Postgres pod name
      command: kubectl -n postgres get pods -l app=postgres -o jsonpath='{.items[0].metadata.name}'
      register: pod_name
      changed_when: false

    - name: Copy SQL file to Postgres pod
      command: kubectl -n postgres cp {{ sql_file_destination }} {{ pod_name.stdout }}:/{{ sql_file }}

    - name: Execute SQL file in Postgres pod
      command: kubectl -n postgres exec {{ pod_name.stdout }} -- psql -U {{ postgres_username }} -d {{ postgres_database }} -f {{ sql_file }}

    - name: Remove SQL file from Postgres pod
      command: kubectl -n postgres exec {{ pod_name.stdout }} -- rm {{ sql_file }}
