all:
  children:
    bastion:
      hosts:
        bastion_host:
          ansible_host: <PUBLIC_IP>
    k8s:
      children:
        control_plane:
          hosts:
            cp-1:
              ansible_host: <PRIVATE_IP>
        workers_app:
          hosts:
            app-1:
              ansible_host: <PRIVATE_IP>
        workers_db:
          hosts:
            db-1:
              ansible_host: <PRIVATE_IP>
              