all:
  children:
    bastion:
      hosts:
        bastion_host:
          ansible_host: 63.181.29.230
    k8s:
      children:
        control_plane:
          hosts:
            cp-1:
              ansible_host: 10.0.3.90
        workers_app:
          hosts:
            app-1:
              ansible_host: 10.0.5.143
        workers_db:
          hosts:
            db-1:
              ansible_host: 10.0.7.81
